CompileFlags:
  Add:
    - -IC:\Keil_v5\ARM\ARMCLANG/include
    - -IC:\Keil_v5\ARM\ARMCLANG/include/libcxx
  Remove: []
  CompilationDatabase: ./build/Project
  Compiler: C:\Keil_v5\ARM\ARMCLANG\bin\armclang.exe
